* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1220px;
    margin: 0 auto;
}

.card2 {
    width: 536px;
    height: 151px;
    box-shadow: 4px 4px 10px 4px #00000040;
    background: #F6F6F6;
    border-radius: 20px;
    display: flex;
    align-items: center;
    margin-top: 100px;
    justify-content: space-around;
}

.j {
    background: #FDE9CB;
    border: 1px solid #F2F2F2F2;
    border-radius: 50%;
    width: 135px;
    height: 135px;
    text-align: center;
    padding: 25px 0;
}

